header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/images/Background_Contacts.png);
  width:100%;
  height: 750px;
  background-size: cover;
  background-position: center;
  gap: 56px;

  #seta{
    background-image: url(../assets/icons/CaretDoubleDowndefault.svg);
    width: 32px;
    height: 32px;

    &:hover{ /* quando o mouse passa sobre o botão, troca o ícone do span */
      background-image: url(../assets/icons/CaretDoubleDown.svg);
      cursor: pointer;
      transition: 0.8s;
    }
  }

  
  
  #datos{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 680px;
    gap: 20px;

    div{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;

      #my-name{
        color: var(--red);
      }
    }
  }
    #lenguages{
      display: flex;
      gap: 16px;

      #html{color: var(--red);}
    }

}